@media print {
  @page {
    size: A4;
    margin: 0;
  }

  body {
    width: 794px;
    height: 1123px;
    padding: 0 !important;
    overflow: hidden;
  }
}

html {
  font-size: 16px;
}

/* body {
  display: flex;
  justify-content: center;
  padding: 32px;
  overflow: auto;
} */

#root {
  min-width: 794px;
  min-height: 1123px;
  max-width: 794px;
  max-height: 1123px;
  flex-shrink: 0;
  flex-grow: 0;
  overflow: none;
  border-radius: 8px;
  box-shadow: 2px 2px 16px rgba(0, 0, 0, 0.2);
}
